body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  background-color: antiquewhite;
}
.card__img {
  width: 280px;
  height: 200px;
  display: block;
}
.card__link {
  text-decoration: none;
  color: black;
  border-radius: 15px;
}
.info {
  display: flex;
  background-color: #ccc;
}
.info__item {
  text-align: center;
}
.gallery__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  padding: 0;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  padding: 0;
}
.gallery__item {
  list-style: none;
  width: 280px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.is-hidden {
  display: none;
}
.form {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgb(111, 111, 151);
}

.load-more{
  margin-bottom: 15px;
}